<div class="container">
  <div class="actions box">
    <input [(ngModel)]="regexoptions">
    <button (click)="match()">Match</button>
    <button (click)="replace()">Replace</button>
  </div>

  <div class="top">
    <div class="top-regex box">
      <h3>Match</h3>
      <textarea class="top-regex-text" [(ngModel)]="regexmatch"></textarea>
    </div>
    <div class="top-replace box">
      <h3>Replace</h3>
      <textarea class="top-replace-text" [(ngModel)]="regexreplace"></textarea>
    </div>

  </div>
  <div class="body">
    <div class="body-input box">
      <h3>Input</h3>
      <textarea class="body-input-text" [(ngModel)]="input"></textarea>
    </div>
    <div class="body-output box">
      <h3>Output</h3>
      <div class="body-output-text">
        <div *ngIf="replaces">
          <div class="match" *ngFor="let replace of replaces; let index = index">
            <h3 class="match-input">Line {{ index+1 }}: {{ replace.input }}</h3>
            <pre>{{ replace.output}}</pre>
          </div>
        </div>

        <div *ngIf="matches">
          <div class="match" *ngFor="let match of matches; let index = index">
            <h3 class="match-input">Line {{ index+1 }}: {{ match.input }}</h3>
            <div *ngIf="match.results.length === 0" class="note">No matches</div>
            <div class="match-input" *ngFor="let results of match.results; let index = index">
              <div class="match-input">Match {{ index+1 }}</div>
              <ul>
                <li class="match-output" *ngFor="let result of results; let index = index">
                  <span>
                    <pre class="match-output-index">{{ (index === 0 ? 'Full: ' : '   ' + index + ': ') }}</pre>
                    <pre [innerHTML]="result.html | safehtml"></pre>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
