<div class="container">
  <div class="actions box">
    <input [(ngModel)]="regexoptions" (ngModelChange)="save()">
    <button (click)="match()">Match</button>
    <button (click)="replace()">Replace</button>
  </div>

  <div class="top">
    <div class="top-match box">
      <h3>Match</h3>
      <h5 *ngIf="matcherror" class="error">{{matcherror}}</h5>
      <textarea class="top-match-text mono" [class.outline]="lastAction === 'match'" [(ngModel)]="regexmatch"
        (ngModelChange)="match()"></textarea>
    </div>
    <div class="top-replace box">
      <h3>Replace</h3>
      <h5 *ngIf="replaceerror" class="error">{{replaceerror}}</h5>
      <textarea class="top-replace-text mono" [class.outline]="lastAction === 'replace'" [(ngModel)]="regexreplace"
        (ngModelChange)="replace()"></textarea>
    </div>

  </div>
  <div class="body-input box clickable">
    <h3 (click)="matchshow = !matchshow">Input</h3>
    <textarea *ngIf="matchshow" class="body-input-text mono" [(ngModel)]="input"
      (ngModelChange)="save(); runLastAction()"></textarea>
  </div>
  <div class="body-output box">
    <h3>Output</h3>
    <div class="body-output-text mono">
      <div *ngIf="replaces">
        <div class="match" *ngFor="let replace of replaces; let index = index">
          <h5 class="match-input">Line {{ index+1 }}: {{ replace.input }}</h5>
          <div *ngFor="let replaceLine of replace.output.split('\\n')">
            <pre>{{ replaceLine }}</pre>
          </div>
        </div>
      </div>

      <div *ngIf="matches">
        <div class="match" *ngFor="let match of matches; let index = index">
          <h5 class="match-input">Line {{ index+1 }}: {{ match.input }}</h5>
          <div *ngIf="match.results.length === 0" class="note">No matches</div>
          <div *ngFor="let results of match.results; let index = index">
            <div class="match-input-text"> > Match {{ index+1 }}</div>
            <table class="match-input-table">
              <thead>
                <tr>
                  <th class="match-output-index">Item</th>
                  <th class="match-output-range">Range</th>
                  <th>Match</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of results; let index = index">
                  <td class="match-output-index">
                    <div>{{ (index === 0 ? 'Full: ' : index + ':') }}</div>
                  </td>
                  <td class="match-output-range">
                    <pre>{{result.range}}</pre>
                  </td>
                  <td>
                    <pre class="prewrap" [innerHTML]="result.html | safehtml"></pre>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box clickable" (click)="matchhelp = !matchhelp">
    <h3>Match Help</h3>
    <div *ngIf="matchhelp">
      <div id="cheatsheet">
        <table class="cheatsheet">
          <tbody>
            <tr>
              <th colspan="2" data-id="charclasses">Character classes</th>
            </tr>
            <tr>
              <td><a>.</a></td>
              <td>any character except newline</td>
            </tr>
            <tr>
              <td><a>\w</a><a>\d</a><a>\s</a></td>
              <td>word, digit, whitespace</td>
            </tr>
            <tr>
              <td><a>\W</a><a>\D</a><a>\S</a></td>
              <td>not word, digit, whitespace</td>
            </tr>
            <tr>
              <td><a>[abc]</a></td>
              <td>any of a, b, or c</td>
            </tr>
            <tr>
              <td><a>[^abc]</a></td>
              <td>not a, b, or c</td>
            </tr>
            <tr>
              <td><a>[a-g]</a></td>
              <td>character between a &amp; g</td>
            </tr>
            <tr>
              <th colspan="2" data-id="anchors">Anchors</th>
            </tr>
            <tr>
              <td><a>^abc$</a></td>
              <td>start / end of the string</td>
            </tr>
            <tr>
              <td><a>\b</a><a>\B</a></td>
              <td>word, not-word boundary</td>
            </tr>
            <tr>
              <th colspan="2" data-id="escchars">Escaped characters</th>
            </tr>
            <tr>
              <td><a>\.</a><a>\*</a><a>\\</a></td>
              <td>escaped special characters</td>
            </tr>
            <tr>
              <td><a>\t</a><a>\n</a><a>\r</a></td>
              <td>tab, linefeed, carriage return</td>
            </tr>
            <tr>
              <th colspan="2" data-id="groups">Groups &amp; Lookaround</th>
            </tr>
            <tr>
              <td><a>(abc)</a></td>
              <td>capture group</td>
            </tr>
            <tr>
              <td><a>\1</a></td>
              <td>backreference to group #1</td>
            </tr>
            <tr>
              <td><a>(?:abc)</a></td>
              <td>non-capturing group</td>
            </tr>
            <tr>
              <td><a>(?=abc)</a></td>
              <td>positive lookahead</td>
            </tr>
            <tr>
              <td><a>(?!abc)</a></td>
              <td>negative lookahead</td>
            </tr>
            <tr>
              <th colspan="2" data-id="quants">Quantifiers &amp; Alternation</th>
            </tr>
            <tr>
              <td><a>a*</a><a>a+</a><a>a?</a></td>
              <td>0 or more, 1 or more, 0 or 1</td>
            </tr>
            <tr>
              <td><a>{{ 'a{5}' }}</a><a>{{ 'a{2,}' }}</a></td>
              <td>exactly five, two or more</td>
            </tr>
            <tr>
              <td><a>{{ 'a{1,3}' }}</a></td>
              <td>between one &amp; three</td>
            </tr>
            <tr>
              <td><a>a+?</a><a>{{ 'a{2,}?' }}</a></td>
              <td>match as few as possible</td>
            </tr>
            <tr>
              <td><a>ab|cd</a></td>
              <td>match ab or cd</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="box clickable" (click)="replacehelp = !replacehelp">
    <h3>Replace Help</h3>
    <div *ngIf="replacehelp">
      <table class="standard-table">
        <thead>
          <tr>
            <th class="header" scope="col">Pattern</th>
            <th class="header" scope="col">Inserts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>$$</code></td>
            <td>Inserts a <code>"$"</code>.</td>
          </tr>
          <tr>
            <td><code>$&amp;</code></td>
            <td>Inserts the matched substring.</td>
          </tr>
          <tr>
            <td><code>$`</code></td>
            <td>Inserts the portion of the string that precedes the matched substring.</td>
          </tr>
          <tr>
            <td><code>$'</code></td>
            <td>Inserts the portion of the string that follows the matched substring.</td>
          </tr>
          <tr>
            <td><code>$<var>n</var></code></td>
            <td>Where <code><var>n</var></code> is a positive integer less than 100, inserts the
              <code><var>n</var></code>th parenthesized submatch string, provided the first
              argument was a <a><code>RegExp</code></a>
              object. Note that this is
              <code>1</code>-indexed. If a group <code>n</code> is not present (e.g., if group
              is 3), it will be replaced as a literal (e.g., <code>$3</code>).
            </td>
          </tr>
          <tr>
            <td><code>$&lt;Name&gt;</code></td>
            <td>Where <code>Name</code> is a capturing group name. If the group is not in the
              match, or not in the regular expression, or if a string was passed as the first argument
              to <code>replace</code> instead of a regular expression, this resolves to a literal
              (e.g., <code>$&lt;Name&gt;</code>).
              Only available in browser versions supporting named capturing groups.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
