.container {
  display: flex;
  flex-direction: column;
}

.box {
  padding: 10px;
  background: #eee;
}

.flexcols {
  display: flex;
  flex-direction: row;
}

.flexrows {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-shrink: 0;
  flex-grow: 1;
}

.actions {
  @extend .flexcols;
  justify-content: flex-end;
  align-items: center;
}

.outline {
  border: 3px solid #009879;
}

.top {
  @extend .flexcols;
  align-items: center;

  &-match {
    @extend .grow;
    @extend .flexrows;
    align-items: stretch;

    &-text {
      min-height: 50px;
    }
  }

  &-replace {
    @extend .grow;
    @extend .flexrows;
    align-items: stretch;

    &-text {
      min-height: 50px;
    }
  }
}

.body {
  @extend .flexcols;
  align-items: flex-start;

  &-input {
    @extend .grow;
    @extend .flexrows;
    align-items: stretch;

    &-text {
      min-height: 150px;
    }
  }

  &-output {
    @extend .grow;
    @extend .flexrows;
    align-items: stretch;

    &-text {
      padding: 4px;
      background: white;
      border: 1px solid lightgrey;
    }
  }
}

.match+.match {
  margin-top: 8px;
}

.match {
  background: rgb(250, 250, 250);
  border-radius: 8px;
  padding: 8px;

  &-input {
    &-text {
      margin-bottom: 4px;
    }

    &-table {
      border-radius: 8px;
      background: white;
    }
  }

  &-output {
    &-index {
      min-width: 30px;
      text-align: center;
    }

    &-range {
      min-width: 60px;
      text-align: center;
    }


    div,
    pre {
      display: inline-block;
      margin: 4px;
    }
  }

}

.note {
  font-style: italic;
  color: #aaa;
}

.matcherror {}

td {
  text-align: left;
}

td:first-child {
  text-align: right;
}

tr>td>a {
  font-family: monospace;
}
