/* You can add global styles to this file, and also import other style files */

.highlight {
  font-weight: bold;
  background-color: #ff0;
  margin: 0 0.5px;
  padding: 0 2px;
  border-radius: 4px;
}

body * {}

h3,
h5 {
  font-family: sans-serif;
  margin: 4px 0;
}

.clickable {
  cursor: pointer;
}
